.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}

.content {
  margin: 20px 0;
}

footer {
  padding: 15px 0;
  color: #1A1F1E;
  font-size: 0.9rem;
}

footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

footer a:active,
footer a:hover {
  color: #8D9494;
}
