.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.card {
  flex-basis: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 32px;
}

/* Mobile */
@media (min-width: 768px) {
  .card {
    flex-basis: 48%;
  }
}

/* Tablet */
@media (min-width: 1024px) {
  .card {
    flex-basis: 23%;
  }
}

.card img {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px;
}

.card a:hover {
  border-bottom: 0;
}

.card .card__content {
  line-height: 1.7rem;
}

.card .card__store {
  font-size: 1.2rem;
}

.card .card__price {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .card__msrp  {
  margin-left: 8px;
  color: #8D9494;
  font-size: 1.2rem;
  text-decoration: line-through;
}

.card .card__discount {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0 8px;
  background-color: #2585E2;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

footer {
  padding: 15px 0;
  color: #1A1F1E;
  font-size: 0.9rem;
  text-align: center;
}

footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

footer a:active,
footer a:hover {
  color: #8D9494;
}
